
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #27282D;
}



a {
  color: inherit;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  html,body{
    background-color: white;
  }
}